.item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px auto;
    width: 70%;
}

.item-img {
    width: 50%;
}

.img-fluid {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.item-detail {
    width: 50%;
}

.item-name {
    font-size: 30px;
    margin-bottom: 10px;
}

.item-price {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}

.price-tax {
    font-size: 18px;
}

.item-text-title {
    font-size: 20px;
    width: 20%;
    margin: 20px 0;
}

.item-text-date {
    margin-left: 20px;
    display: inline-block;
}

.item-text {
    margin: 20px 0;
}

.purchase {
    width: 100%;
    padding: 20px 0;
}

.purchase-btn {
    font-size: 16px;
    text-decoration: none;
    padding: 1% 40%;
    margin: 20px 0;
    background-color: #ff5454;
    color: #fff;
    border: none;
}

.user {
    width: 100%;
    margin: 20px 0;
}

.user-icon {
    background-color: #d9d9d9;
    border-radius: 50px;
    padding: 0 2px;
    font-size: 22px;
}

.user-name {
    width: 30%;
    padding: 0 5px;
}

.user-comment {
    background-color: #d9d9d9;
    width: 96%;
    padding: 2%;
    margin: 20px 0;
    display: block;
}

.user-comment-box,
.comment-text-box {
    width: 100%;
    margin-bottom: 20px;
}

.form-comment {
    width: 98%;
    height: 300px;
}

.comment-btn {
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    padding: 1%;
    margin: 20px 0;
    background-color: #ff5454;
    color: #fff;
    border: none;
}