.item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px auto;
    width: 70%;
}

.item-img {
    width: 50%;
    text-align: center;
    padding-top: 3%;
}

.img {
    width: 90%;
}

.img-fluid {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.item-detail {
    width: 50%;
}

.item-name {
    font-size: 30px;
    margin-bottom: 10px;
}

.item-price {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}

.price-tax {
    font-size: 18px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.category-ul {
    display: flex;
    flex-wrap: wrap;
}

.category-li {
    list-style: none;
    margin-right: 20px;
    margin-bottom: 8px;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.icon-count {
    font-size: 25px;
}

.like-section,
.comment-count {
    width: 50px;
    text-align: center;
}

.item-text-title {
    font-size: 20px;
    width: 20%;
    margin: 20px 0;
}

.item-category,
.item-condition {
    font-size: 16px;
    font-weight: bold;
    width: 20%;
    margin: 20px 0;
}

.item-text-date {
    margin: 16px;
}

.item-text {
    margin: 20px 0;
}

.purchase {
    width: 100%;
    padding: 20px 0;
}

.purchase-btn {
    font-size: 16px;
    text-decoration: none;
    padding: 1% 40%;
    margin: 20px 0;
    background-color: #ff5454;
    color: #fff;
    border: none;
}

.user {
    width: 100%;
    margin: 20px 0;
}

.user-flex {
    display: flex;
    flex-direction: row;
}

.user-icon-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: thick double #32a1ce;
}

.user-name {
    width: 50px;
    padding-left: 8px;
    padding-top: 14px;
}

.user-comment {
    background-color: #d9d9d9;
    width: 96%;
    padding: 2%;
    margin: 20px 0;
    display: block;
}

.user-comment-box,
.comment-text-box {
    width: 100%;
    margin-bottom: 20px;
}

.form-comment {
    width: 98%;
    height: 300px;
}

.comment-btn {
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    padding: 1%;
    margin: 20px 0;
    background-color: #ff5454;
    color: #fff;
    border: none;
}

.error {
    margin-bottom: 1rem;
    color: red;
}