.edit-content {
    max-width: 400px;
    margin: 0 auto;
}

.edit-h2 {
    margin: 10% 0;
    text-align: center;
}

.user-img-flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
}

.user-information {
    margin-bottom: 10%;
}

.user-img-box {
    width: 30%;
}

.user-icon {
    background-color: #d9d9d9;
    border-radius: 50px;
    padding: 12px 0;
    font-size: 50px;
    margin-right: 3%;
}

.user-icon-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: thick double #32a1ce;
}

.custom-file-box {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-input {
    display: none;
}

.custom-file-label {
    display: inline-block;
    padding: 15px 20px;
    margin: 30px;
    color: #ff5454;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    border: 2px solid #ff5454;
    border-radius: 10px;
}

.custom-file-label:hover {
    background-color: #fbdcdc;
}

.user-profile-default {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-title {
    font-weight: bold;
    width: 100%;
}

.user-input {
    width: 100%;
    padding: 0.5rem 0;
    margin-top: 6%;
}

.mypage-form-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #ff5454;
    color: white;
    border: none;
    border-radius: 4px;
}

.error {
    margin-bottom: 1rem;
    color: red;
}