.edit-content {
    max-width: 400px;
    margin: 0 auto;
}

.edit-h2 {
    margin: 10% 0;
    text-align: center;
}

.user-information {
    margin-bottom: 10%;
}

.user-icon {
    background-color: #d9d9d9;
    border-radius: 50px;
    padding: 12px 0;
    font-size: 50px;
    margin-right: 3%;
}

.user-icon-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: thick double #32a1ce;
}

.user-profile-default {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    /* 中央寄せ */
    align-items: center;
    /* 縦中央寄せ */
    justify-content: center;
    /* 横中央寄せ */
}

.user-title {
    font-weight: bold;
}

.user-input {
    width: 100%;
    padding: 0.5rem 0;
    margin-top: 6%;
}

.mypage-form-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #ff5454;
    color: white;
    border: none;
    border-radius: 4px;
}

.error {
    margin-bottom: 1rem;
    color: red;
}