.user-profile {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
}

.user-icon {
    width: 25%;
    height: 180px;
    max-width: 200px;
    max-height: 200px;
    text-align: center;
}

.user-icon-img {
    width: 70%;
    height: 75%;
    border-radius: 50%;
    margin: 10% 0;
    border: thick double #32a1ce;
}

.user-profile__name {
    width: 26%;
    text-align: left;
    margin: 8% 5% 0 5%;
}

.user-profile__link {
    width: 40%;
    text-align: right;
    margin-top: 10%;
}

.profile-edit-link {
    padding: 3% 5%;
    color: #ff5454;
    font-weight: bold;
    border: 2px solid #ff5454;
    border-radius: 10px;
    text-decoration: none;
}

.tab-buttons {
    margin: 1% 4%;
    font-size: 20px;
    font-weight: bold;
}

.tab-buttons.active {
    color: #ff5454;
}

.tab-content {
    border-top: solid;
}

.mypage__item-content {
    display: none;
}

.mypage__item-content.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.item-card {
    width: 23%;
    margin: 1%;
}

.mypage__item-img {
    position: relative;
    max-width: 300px;
    max-height: 300px;
}

.item-img {
    width: 100%;
}

.mypage__item-name {
    padding-top: 10px;
}

.item-name__a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}