.user-profile {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

.user-icon {
    width: 24%;
    text-align: center;
}

.user-icon-img {
    width: 70%;
    border-radius: 50%;
    margin: 10% 0;
    border: thick double #32a1ce;
}

.user-profile__name {
    text-align: center;
    margin: 10% 5%;
}

.user-profile__link {
    width: 30%;
    text-align: center;
    margin: 10% 0 10% 20%;
}

.custom-edit-link {
    padding: 3% 5%;
    color: #ff5454;
    font-weight: bold;
    border: 2px solid #ff5454;
    border-radius: 10px;
    text-decoration: none;
}

.tab-buttons {
    text-align: center;
    margin: 1% 5%;
    font-size: 20px;
}

.tab-buttons:hover {
    color: #ff5454;
}

.tab-content {
    border-top: solid;
}

.item-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.item-card {
    width: 22.75%;
    margin: 1%;
}

.item-img {
    width: 100%;
}

.mypage__item-name {
    padding-top: 10px;
}

.item-name__a {
    font-size: 16px;
    text-decoration: none;
}


.error {
    margin-bottom: 1rem;
    color: red;
}