body {
    line-height: 1;
}

header,
section {
    display: block;
}


blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

.form-a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

input,
select {
    vertical-align: middle;
}